body {
  background-color: #eb0c26;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 100px;
}

h1 {
  font-size: 48px;
}
.vida{
  color: #6b4141;
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
}
